<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fontawesome.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/solid.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/brands.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fonts.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/category-style.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/flag-icon.min.css">