<div class="row p-4">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{% t global.index.gastronomy.title %}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{% t global.index.gastronomy.subtitle %}</h6>
          <div class="thumbnail float-end">
            <img src="{{ page.math-thumbnail }}" class="rounded" alt="...">
          </div>  
          <p class="card-text">
            {% translate_file pages/index/introduction-gastronomy.md %}
          </p>
          <a href="#" class="btn btn-primary">{% t global.introduction %}</a>
        </div>
      </div>
    </div>
</div>
<div class="row p-4">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{% t global.index.math.title %}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{% t global.index.math.subtitle %}</h6>
          <div class="thumbnail float-end">
            <img src="{{ page.gastronomy-thumbnail }}" class="rounded" alt="...">
          </div>  
          <p class="card-text">
            {% translate_file pages/index/introduction-math.md %}
          </p>
          <a href="#" class="btn btn-primary">{% t global.introduction %}</a>
      </div>
    </div>
  </div>
</div>
<div class="row p-4">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{% t global.index.project-mgmt.title %}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{% t global.index.project-mgmt.subtitle %}</h6>
          <div class="thumbnail float-end">
            <img src="{{ page.project-mgmt-thumbnail }}" class="rounded" alt="...">
          </div>  
          <p class="card-text">
            {% translate_file pages/index/introduction-project-mgmt.md %}
          </p>
          <a href="#" class="btn btn-primary">{% t global.introduction %}</a>
      </div>
    </div>
  </div>
</div>