<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa-solid fa-globe"></i>
</a>
<ul class="dropdown-menu dropdown-menu-end">
    {% for lang in site.languages %}
        {% if lang == "de" %}
            {% capture link1 %}{{ site.baseurl_root }}{{ page.url}}{% endcapture %}
            <li class="dropdown-item">
                <a href="{{ link1 }}" class="nav-link"><span class="flag-icon flag-icon-{{site.translations[lang].flag-code }}"></span> {% t global.de %}</a>
            </li>
        {% elsif lang == "en" %}
            {% capture link2 %}{{ site.baseurl_root }}/en{{ page.url  }}{% endcapture %}
            <li class="dropdown-item">
                <a href="{{ link2 }}" class="nav-link"><span class="flag-icon flag-icon-{{site.translations[lang].flag-code }}"></span> {% t global.en %}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>