<script src="{{ site.baseurl_root }}/assets/js/bootstrap.bundle.min.js"></script>
<script src="{{ site.baseurl_root }}/assets/js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      webFont: "TeX"
    };
</script>
<script id="MathJax-script" async
    src="{{ site.baseurl_root }}/assets/js/tex-chtml.js">
</script>
<script src="{{ site.baseurl_root }}/assets/js/mermaid.min.js"></script>
<script>
    var config = {
        startOnLoad:true,
        theme: 'forest',
        flowchart:{
                useMaxWidth:false,
                htmlLabels:true
            }
    };
    mermaid.initialize(config);
    window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
</script>