---
layout: default
---
<article class="blog-post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
      <h1 class="blog-post-title" itemprop="name headline">{{ page.title | escape }}</h1>
      <p class="blog-post-meta">
        <time class="dt-published" itemprop="datePublished">
            {{ page.date | date: "%-d %B %Y" }}
        </time>
        {%- if page.author -%}sdf
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
        {%- endif -%}
    </p>
    </header>
  
    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>
  
    {%- if site.disqus.shortname -%}
      {%- include disqus_comments.html -%}
    {%- endif -%}
  
    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>


<!--
  <article class="blog-post">
    <h2 class="blog-post-title">Another blog post</h2>
    <p class="blog-post-meta">December 23, 2020 by <a href="#">Jacob</a></p>

    <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
    <blockquote>
      <p>Longer quote goes here, maybe with some <strong>emphasized text</strong> in the middle of it.</p>
    </blockquote>
  </article>-->